<a href="https://colab.research.google.com/github/bobg207/BulldogCompSci/blob/master/Ch1_1_DataTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Values and Data Types**
A **value** is one of the fundamental things — like a word or a number — that a program manipulates. The values we have seen so far are 5 (the result when we added 2 + 3), and "Hello, World!". We often refer to these values as **objects** and we will use the words value and object interchangeably.

These objects are classified into different **classes**, or **data types**: 4 is an integer, and "Hello, World!" is a string, so-called because it contains a string or sequence of letters. You (and the interpreter) can identify strings because they are enclosed in quotation marks.

If you are not sure what class a value falls into, Python has a function called **type** which can tell you.

In [ ]:
print(type("Hello, World!"))
print(type(17))
print("Hello, World")

Not surprisingly, strings belong to the class **str** and integers belong to the class **int**.


---


**Note:**

**When we show the value of a string using the print function, such as in the third example above, the quotes are not present in the output. The value of the string is the sequence of characters inside the quotes. The quotes are only necessary to help Python know what the value is.**


---


You may have used function notation in a math class, like ***y = f(x)***, likely only for functions that act on a single numeric value, and produce a single numeric value. Python has no such restrictions: Inputs and outputs may be of any type.

In the Python shell, it is not necessary to use the ***print*** function to see the values shown above. The shell evaluates the Python function and automatically prints the result. For example, consider the shell session shown below. When we ask the shell to evaluate ***type("Hello, World!")***, it responds with the appropriate answer and then goes on to display the prompt for the next use.

    Examples - run in the Python interpreter shell
    >>> type("Hello, World!")
    <class 'str'>
    >>> type(17)
    <class 'int'>
    >>> "Hello, World"
    'Hello, World'
    >>>
    
Note that in the last example, we simply ask the shell to evaluate the string “Hello, World”. The result is as you might expect, the string itself.

Continuing with our discussion of data types, numbers with a decimal point belong to a class called float, because these numbers are represented in a format called floating-point. At this stage, you can treat the words *class* and *type* interchangeably. We’ll come back to a deeper understanding of what a class is in later chapters.

In [ ]:
print(type(3.2))

What about values like "17" and "3.2"? They look like numbers, but they are in quotation marks like strings.

In [ ]:
print(type("17"))
print(type("3.2"))

They’re strings!

Strings in Python can be enclosed in either single quotes (') or double quotes (" - the double quote character), or three of the same separate quote characters (' ' ' or " " ").

In [ ]:
print('This is a string.')
print(type("And so is this.") )
print(type("""and this.""") )
print('''and even
this...''')

Double quoted strings can contain single quotes inside them, as in
"Bruce's beard", and single quoted strings can have double quotes inside them, as in 'The knights who say "Ni!"'. Strings enclosed with three occurrences of either quote symbol are called triple quoted strings. They can contain either single or double quotes:

In [ ]:
print('''"Oh no", she exclaimed, "Ben's bike is broken!"''')

Triple quoted strings can even span multiple lines:

In [ ]:
print("""This message will span
several lines
of the text.""")

Python doesn’t care whether you use single or double quotes or the three-of-a-kind quotes to surround your strings. Once it has parsed the text of your program or command, the way it stores the value is identical in all cases, and the surrounding quotes are not part of the value.

In [ ]:
print('This is a string.')
print("""And so is this.""")

So the Python language designers usually chose to surround their strings by single quotes. What do you think would happen if the string already contained single quotes?

The **backslash** (**\\**) character is used to **escape** characters that otherwise have a special meaning, such as **newline**, backslash itself, or the quote character.

Common Escape Sequences

    Escape Sequence     Meaning

    \                   Backslash and newline ignored

    \\                  Backslash (\)

    \'                  Single quote (')
 
    \"                  Double quote (")

    \n                  newline

    \t                  horizontal tab (TAB)
    
Escape sequences allow for including special characters into strings.

In [ ]:
print('Single quote strings can have \'single\' quotes if they are escaped')

In [ ]:
print("Double quote strings can have \"double\" quotes if they are escaped")

In [ ]:
print("Multiline strings\ncan be created\nusing escape sequences.")

In [ ]:
print("Backslashes \\ need to be escaped.")

Backslashes \\ need to be escaped.

In [ ]:
print('Formatting text can benefit from a \t \'tab\' \t sequence.')

When you type a large integer, you might be tempted to use commas between groups of three digits, as in 42,000. This is not a legal integer in Python, but it does mean something else, which is legal:

In [ ]:
print(42000)
print(42,000)

42000
42 0

Well, that’s not what we expected at all! Because of the comma, Python chose to treat this as a pair of values. In fact, the print function can print any number of values as long as you separate them by commas. Notice that the values are separated by spaces when they are displayed.

In [ ]:
print(42, 17, 56, 34, 11, 4.35, 32)
print(3.4, "hello", 45)

Remember not to put commas or spaces in your integers, no matter how big they are. Also revisit what we said in the previous chapter: formal languages are strict, the notation is concise, and even the smallest change might mean something quite different from what you intended.