<a href="https://colab.research.google.com/github/bobg207/BulldogCompSci/blob/master/for_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Iteration
**Iteration** means executing the same block of code over and over, potentially many times. A programming structure that implements iteration is called a **loop**.

In programming, there are two types of iteration, **indefinite** and **definite**:
1. With **indefinite iteration**, the number of times the loop is executed isn’t specified explicitly in advance. Rather, the designated block is executed repeatedly as long as some condition is met.

2. With **definite iteration**, the number of times the designated block will be executed is specified explicitly at the time the loop starts.

In this tutorial we'll be looking at definite iteration using the ***for loop***.

# Syntax of For loop in Python


```
for <variable> in <sequence>:  
   body_of_loop that has set of statements
   which requires repeated execution
```

Here *variable* is a variable that is used for iterating over a <sequence>. On every iteration it takes the next value from <sequence>  until the end of sequence is reached.

Lets take few examples of for loop to understand the usage.

# Python – For loop examples

Basic loop

In [ ]:
print(1)
print(2)
print(3)
print(4)

1
2
3
4

In [ ]:
numbers = [1,2,3,4]

for number in numbers:
    print('number =', number)

print("Loop is complete")

Here is how for loop works:

In the first iteration *value* is assigned value 1 then print statement is executed. In second iteration *value* is assigned value 2 then once again print statement is executed. This process continues until there are no more element in the list and for loop exists.

A Python *list* is a container of objects (in the case above they are all *ints*).  Almost all python containers can be iterated over.

A Python *string* is another container, this container holds only characters.  Let's take a look at a loop involving a string.

This example will loop through the characters of a name and print the characters.

In [ ]:
name = 'John Doe'

for char in name:
  print(char)

Do you see, in the output, the blank line?  This is because there's a space in that string and space is a character in Python.

This example will determine the length of a name.  Often times, when looping, it'll be necessary to keep track of the number of times the loop has occurred.  We'll utilize a counter for this.

In [ ]:
my_name = 'George Joe Washington-Doe'

# the counter is intialized to zero prior to starting the loop
counter = 0

for char in my_name:
    if char not in [' ', '-']:
        counter +=  1     # the counter is increased by 1 each time thru the loop

# print(counter)

# 1 is subtracted from counter below because the space was counted as a character
print(f'The name, {my_name}, has {counter} letters in it.')

The name, George Joe Washington-Doe, has 22 letters in it.

The following example shows the use of for loop to iterate over a list of numbers. In the body of for loop we are calculating the square of each number present in list and displaying the same.

In [ ]:
# Program to print squares of all numbers present in a list

# List of integer numbers
numbers = [1, 2, 4, 6, 11, 20]

# variable to store the square of each num temporary
sq = 0

# iterating over the given list
for val in numbers:
    # calculating square of each number
    sq = val**2

    # displaying the squares
    print(sq)

# Function range()
In the above example, we have iterated over a list using for loop. However we can also use a ***range()*** function in for loop to iterate over numbers defined by range().

**range(n)**: generates a set of whole numbers starting from 0 to (n-1).
For example:
range(8) is equivalent to [0, 1, 2, 3, 4, 5, 6, 7]

**range(start, stop)**: generates a set of whole numbers starting from start to stop-1.
For example:
range(5, 9) is equivalent to [5, 6, 7, 8]

**range(start, stop, step_size)**: The default step_size is 1 which is why when we didn’t specify the step_size, the numbers generated are having difference of 1. However by specifying step_size we can generate numbers having the difference of step_size.

For example:
range(1, 10, 2) is equivalent to [1, 3, 5, 7, 9]

Lets use the *range()* function in for loop:

#Python for loop example using range() function

###Basic loop using range(n)
Here range for loop prints number from 0 to 9. The *start* is 0 by default, *stop* is **NOT** inclusive.

In [ ]:
for value in range(10):
  print(value)

###Basic loop using range(start, stop)

Include the *start* if other than 0. Here the output is 1 to 9.

In [ ]:
for value in range(1, 11):
    print(value)

###Basic loop using range(start, stop, step)
Here the output are the odds from 1 to 19. Notice the particular *start*, *stop*, and *step* to achieve this.

In [ ]:
for value in range(10, 0, -1):
  print(value)

### A little more advanced example
Here we are using range() function to calculate and display the sum of first 5 natural numbers.

In [ ]:
# Program to print the sum of first 5 natural numbers

# variable to store the sum
sum = 0

# iterating over natural numbers using range()
for val in range(1, 6):

    # calculating sum
    sum += val            # same as sum = sum + 1

# displaying sum of first 5 natural numbers
print(sum)

# Combining conditionals and loops
This example will be a repeat of a previous example, where we wanted the odd numbers less than 20. To do this, we want to use a conditional statement instead of using the range’s step parameter.

In [ ]:
for value in range(20):
  if value % 2 == 1:
    print(value)

Hopefully you remember what’s up with the percent sign. If not recall that in Python, the % is called a **modulus operator**. When you use the modulus operator, it will return the **remainder**. The remainder is one when you divide an odd number by two, so we print those numbers out.

# Break and Continue

## Break
There may be times when a condition exists such that you want to end a loop before it is able to process all the elements of the container.

### Example using Break
The goal here is to iterate over a list of values looking for values that are multiples of 5 but if a negative number is encountered I want to stop.

In [ ]:
number_list = [2, 0, 12, 15, 14, 25, 50, 64, 72, 90, -20, 30, 56, 45, 32, 67, 85]

for number in number_list:
  if number < 0:
    break
  elif number % 5 == 0:
    print(number)

## Continue
There may be a condition that exists that will evaluate to True but you are not intersted in using. Can be thought of as "skipping" that value of the container.

### Example of Continue
The goal here will be the same as the last, except will just pass on negatives rather than end the loop.

In [ ]:
number_list = [2, 0, 12, 15, 14, 25, 50, 64, 72, 90, -20, 30, 56, 45, 32, 67, 85]

for number in number_list:
  if number < 0:
    continue
  elif number % 5 == 0:
    print(number)

Practice #1

Print multiplication table, from 1 to 10, of a given number

In [ ]:
# Practice 1

given_numb = 5
stop = 15

print(f'number * {given_numb}\tResult')

for number in range(1, stop+1):
    result = number * given_numb
    print(f'{number} * {given_numb}\t\t{result}')

number * 5	Result
1 * 5		5
2 * 5		10
3 * 5		15
4 * 5		20
5 * 5		25
6 * 5		30
7 * 5		35
8 * 5		40
9 * 5		45
10 * 5		50
11 * 5		55
12 * 5		60
13 * 5		65
14 * 5		70
15 * 5		75

Practice #2

Display numbers from -10 to -1 using for loop

In [ ]:
# Practice 2

for value in range(-10, 0):
    print(value)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Practice #3

Given a number count the total number of digits in a number.

In [ ]:
# Practice 3

number3 = 56780
str_number3 = str(number3)

counter = 0

for digit in str_number3:
    counter += 1
    
print(counter)

5

Practice #4

Reverse a given integer number.

In [ ]:
# Practice 4