<a href="https://colab.research.google.com/github/bobg207/BulldogCompSci/blob/master/Intro_to_Pandas%2C_Pt2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Reading Data from file


1.   Load the data file from your Google Drive


        from google.colab import drive 
        drive.mount('/content/drive')
        path = '/content/drive/My Drive/Colab Notebooks/PortlandWeather2013b.txt'


2.   read the data using the pandas `.read_csv(file_name)` method


        wx_df = pd.read_csv(path)


3.   If passing in a `.txt` file you'll need to also include the argument - `delim_whitespace = True` -  so that the file is split on whitespace rather than commas (by default)


        wx_df = pd.read_csv(path, delim_whitespace = True)

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')
path = '/content/drive/My Drive/Colab Notebooks/PortlandWeather2013b.txt'

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

wx_df = pd.read_csv(path, delim_whitespace = True)
wx_df

# Clean Data

## Data Types
Know the data-types contained in the data frame

In [ ]:
# use pandas to display the data-types of the data contained in the dataframe

## Column Cleanup


1.   Get columns

          og_df.columns


2.   Change column names
        
        A. replace all column names with a list
              og_df.columns = ['station', 'date', 'prcp', 'snwd', 'snow', 'tmax', 'tmin']    # typing out a list of replacement values

              og_df.columns = [col.lower() for col in og_df]   # using list comprehension
        C. format names using `.str` method along with `.strip( )` for whitespace removal; `.lower( )` for case changes; `.replace(old, new)` to replace one char for another
              og_df.columns = og_df.columns.str.lower()  # change every column name to lower case


3.   Delete Columns

      temporarily
          og_df.drop([col1, col2, ...], axis=1)   # axis = 1 is a reference to columns
      
      permantly -> add `inplace=True`

          og_df.drop([col1, col2, ...], axis=1, inplace = True)
      
      else -> make a copy of original df then drop the cols of that
        
          new_df = wx_df.copy()
          new_df.drop([col1, col2, ...], axis=1, inplace=True)

4.   Add new column

          new_df[col_name] = values (must match length of dataframe)

5.   Replace indices

          new_df.set_index(col_name, inplace=True)

In [ ]:
wx_df.columns = wx_df.columns.str.lower()
wx_df.drop(['station'], axis=1, inplace=True)
wx_df

## Row Cleanup

### Delete Rows

Use `.drop( )` on the dataframe with axis 0 (rows)

            og_df.drop(row(s), axis=0, inplace=True)

When deleting rows the indices for those rows are also deleted.  It may be desirable to reset the indices.


A. First make a Pandas series with the values of the indices desired (make sure to import Numpy)

            new_indices = pd.Series(np.arange(start, stop)))

B. Use `.set_index( )` on the dataframe

            og_df.set_index(new_indices, inplace=True)

In [ ]:
# drop the first row as it doesn't contain any data, then reset the indices

### Changing Data

#### Changing data-types 

    using `.astype(dtype)`
      
      og_df[col] = og_df[col].astype(dtype)   # object, int, float

In [ ]:
# change the data type of snwd column to int32, use .info() to see the change

In [ ]:
# your turn
# change the data types of the other columns
# to the appropriate data type

#### Changing Data Values (Single Column)

Similar to changing data types, you can add any expression to the right side of the = 

        og_df[col] = a * og_df[col] + b.   # example of random conversion relationship

In [ ]:
# convert snwd to inches -> mm divided by 25.4

In [ ]:
# your turn
# change the snow and prcp columns from mm to inches

#### Changing Data Values (Multiple Columns)

Same as single row except notice that the columns to be changed are placed in a list

        og_df[[col1, col2, ...]] = a * og_df[[col1, col2, ...]] + b.   # example of random conversion relationship

In [ ]:
# your turn
# change the tmax and tmin columns to Fahrenheit

#### Changing Data Values (Single Cell)

## Adding Data

#### New column filled with data

        og_df[col_name] = value (or expression to calculate a value)

In [ ]:
# your turn
# replace the last values of the snow and snwd columns with an appropriate value
# do this by using the value from the previous row for each
# use .tail() to show the changes have been made

In [ ]:
# your turn
# make a new column "avg_temp" that contains the avg daily temperature 
# (use tmax and tmin cols) for each day
# use .head() to show the changes have been made

## Handling Missing Data


Drop rows with any column having NA/null data.
        
        df.dropna()


Replace all NA/null data with value

        df.fillna(value)

## DateTime

### Panda's Date Object to DateTime

According to `og_df.info()` above, the data type of the **date** column is an object, which means the timestamps are stored as string values. To convert the data type of the datetime column from a string object to a datetime64 object, we can use the pandas to_datetime() method, as follows:

        of_df['date'] = pd.to_datetime(og_df['date'])

In [ ]:
# change the values in the date column to datetime objects
# run wx_df.info() to verify that they are now datetime objects

Now, the data type of the datetime column should be a **datetime64[ns]** object. The **[ns]** means the nano second-based time format that specifies the precision of the DateTime object.

### Change to DateTime when Loading Data

Also, we can let the pandas **`read_csv()`** method parse certain columns as **DataTime** objects, which is more straightforward than using the **`to_datetime()`** method. 

        df = pd.read_csv(file_path, parse_dates=['date'])
        df.head()

### Get year, month, and day
**`dt.year`**, **`dt.month`** and **`dt.day`** are the inbuilt attributes to get year, month , and day from Pandas datetime object.

And to get year, month, and day

        og_df['year']= og_df['date'].dt.year
        og_df['month']= og_df['date'].dt.month
        og_df['day']= og_df['date'].dt.day

In [ ]:
# your turn
# Add 'month' and 'day' columns and fill them with the correct values
# use og_df.sample(n=10) to display 10 randomly chosen rows

In [ ]:
# your turn
# using wx_df create 2 python lists containing the average max/min temps for each month

## Plotting Side-by-Side Bar Graphs

In **`plt.bar( )`** make sure to adjust the list names for the temps to match what you used above

In [ ]:
month_names = ['January', 'February', 'March', 'April', 'May',
          'June', 'July', 'August', 'September', 'October', 
          'November', 'December']

# array of numerical values for months to be used in intial bargraph
# needed to be able to move the bars
x_indices = np.arange(1, len(month_names)+1)

# standard bar width is .8, set a width a little less than width divided by the 
# number of bars
width = .39
shift = width / 2

plt.style.use('seaborn')

# x-values, for graphing purposes, are goind to be the indices array +/- the shift
plt.bar(x_indices+shift, max_avgs, width=width, color='orangered', label="High Temps")
plt.bar(x_indices-shift, min_avgs, width=width, color='deepskyblue', label="Low Temps")
plt.legend()
plt.title("Average Hi/Low Temps\nPortland, ME - 2013")
plt.xlabel("Months")
plt.ylabel("Temperature (F)")

# convert the x-values into the names and rotate
# ticks = current xtick values
# labels = values to be changed to
plt.xticks(ticks=x_indices, labels=month_names, rotation=60)

plt.show()